@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

* {
    font-family: Poppins;
}

main {
    background-color: rgba(230, 230, 230, 0.322);
}

#builder ul li,
#builder ul li i {
    transition: all 200ms ease-in-out;
}
#builder ul li:hover {
    transform: scale(1.02);
    cursor: pointer;
    z-index: 10;
}
#builder ul:hover li:not(:hover) {
    opacity: 0.4;
    transform: scale(0.99);
}

/* BURGER */
.burger {
    height: 100px;
    width: 100px;
}
.preview div{
    height: 300px;
}